In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from random import choices
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
cols = ['Wife Age', 'Wife Edu', 'Husband Edu', 'No. Of Children', 'Wife Religion', 'Wife Working?', 'Husband Occupation', 'Standard of living', 'Media Exposure', 'Class']
df = pd.read_csv('cmc.data', names=cols)
df.head()

,Wife Age,Wife Edu,Husband Edu,No. Of Children,Wife Religion,Wife Working?,Husband Occupation,Standard of living,Media Exposure,Class
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

In [4]:
splitIndex = int(len(df)/3)

df = df.sample(frac = 1).reset_index(drop=True) #shuffle my dataset

trainSet = df[0:splitIndex]
valSet = df[splitIndex:2*splitIndex]
testSet = df[2*splitIndex:len(df.index)]
#testSet = df[splitIndex:2*splitIndex]

print("Training size: ", trainSet.shape)
print("Validation size: ", valSet.shape)
print("Testing size: ", testSet.shape)
print("Classes in train set: ", trainSet['Class'].unique())
print("Classes in val set: ", valSet['Class'].unique())
print("Classes in test set: ", testSet['Class'].unique())

Training size:  (982, 10)
Testing size:  (491, 10)
Classes in train set:  [1 3 2]
Classes in test set:  [3 1 2]

In [16]:
bts = []

for i in range(50, 500, 50):
    chosen = trainSet.sample(n=i, replace=True)
    bts.append(chosen)